<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="X12UtilsFRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <X12UtilsFRM.Properties.Settings>
            <setting name="SurppressParsingComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartnerId" serializeAs="String">
                <value>GeorgiaPacific</value>
            </setting>
            <setting name="PartnerX12VersionId" serializeAs="String">
                <value>4010</value>
            </setting>
            <setting name="TransformFormat" serializeAs="String">
                <value>HTML</value>
            </setting>
            <setting name="X12Folder" serializeAs="String">
                <value>C:\Users\mapei\source\repos\X12Parser\OopFactory.X12.Test</value>
            </setting>
            <setting name="fileList" serializeAs="String">
                <value />
            </setting>
            <setting name="throwExceptions" serializeAs="String">
                <value>False</value>
            </setting>
        </X12UtilsFRM.Properties.Settings>
    </userSettings>
</configuration>