<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace">

	<!-- Load NLog.Windows.Forms -->
	<extensions>
		<add assembly="NLog.Windows.Forms" />
	</extensions>

	<targets>
		<!-- RichTextBoxTarget configuration -->
		<target xsi:type="RichTextBox"
				name="richTextBoxTarget"
				formName="X12UtilsFRM"                   
				controlName="rtLog"
	            layout="$[${level:uppercase=true}] [${callsite-filename:includeSourcePath=false}:${callsite-line-number}] ${message} ${exception:format=tostring}"
				autoScroll="true"                		
				maxLines="1000"                    
				useDefaultRowColoringRules="false" /> <!-- Optional: Color-code by log level -->

		<!-- Optional: Add a file target for backup logging -->
		<target xsi:type="File"
				name="fileTarget"
				fileName="app.log"
				layout="${longdate} [${level:uppercase=true}] ${logger}: ${message} ${exception:format=tostring}" />
	
			<target xsi:type="MessageBox" name="M" layout="Error" caption="Error" />
		<target xsi:type="Console" name="console"
		  layout="${longdate} | ${level:uppercase=true} | ${message}" />
		
	</targets>

	<rules>
		<!-- Log all levels to RichTextBox -->
		<logger name="*" minlevel="Trace" writeTo="console,richTextBoxTarget" />
	

		<!-- Log to file for Info and above -->
		<!--
		<logger name="*" minlevel="Info" writeTo="fileTarget" /> -->
	</rules>
</nlog>